html
  head
    meta(http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8')
    title= subject
    body
      div
        p
          b #{message.name}
      div
        p Your Password : #{message.message}
        p Click Here to Change Password : 
        a(href= message.url) Change Password